* {
    margin: 0; 
    padding: 0;
}
div:not(#contact) {
    margin: 5%;
    width: 450px;
    height: 150px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    padding: 10px;
}
header {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif; 
    width: 50%; 
}
span {
    right: 100p;
}

img {
    position: fixed;
    right: 72%;
    top: 22%;
    
}
h2 {
    position: absolute;
    right: 82%;
    top: 27%;
    padding: 2px;
    margin: 2px;
    color: rgb(105, 101, 101);
}
h3 {
    position: absolute;
    right: 78%;
    top: 34%;
    padding: 2px;
    margin: 2px;
    color: rgb(150, 150, 150)
}
a {
    position: absolute;
    right: 85%;
    top: 42%;
    padding: 2px;
    margin: 2px;
    
}
span {
    position: absolute;
    right: 71%;
    top: 42%;
    padding: 2px;
    margin: 2px;
}
h1 {
    position: absolute;
    top: 19%;
    right: 83%;
    padding: 2px;
    margin: 2px;
}
#contact {
    margin-top: 50.5%;
    margin-left: -5%;
    width: 450px;
    height: 25px;
    border-radius: 4px;
    border-width: 1px;
    background-color: rgb(167, 167, 167);
    border-style: solid;
    border-color: black;
    padding: 10px;
}