div:not(#contact) {
    width: 550px;
    height: 150px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    padding-left: 2rem;
    margin: auto;
}
header {
    display: inline-block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;; 
}
span {
    display: inline-block;
    right: 100px;
}

img {
    position: fixed;
    right: 77%;
    top: 3%;
    
}
h2 {
    display: inline-block;
    color: rgb(105, 101, 101);
}
h3 {
    display: inline-block;
    right: 78%;
    top: 34%;
    color: rgb(150, 150, 150)
}
a {
    display: inline-block;
    right: 85%;
    top: 42%;
}
span {
    display: inline-block;
    right: 71%;
    top: 42%;
}
h1 {
    display: inline-block;
}
#contact {
    display: inline-block;
    width: 550px;
    height: 25px;
    border-radius: 4px;
    border-width: 1px;
    background-color: rgb(167, 167, 167);
    border-style: solid;
    border-color: black;
    margin:auto;
}
